@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  color: bisque;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #000000;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rebeccapurple;
  width: 100%;
}

.main-frame {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 400px;
  background-color: #0ebea7;
  border: 5px solid #ff0000b7;
  border-radius: 15px;
  box-shadow: 0 0 50px rgba(255, 110, 110, 0.75);
}

.screen {
  background-color: #ff39cd;
  max-height: 90px;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  margin: 30px 30px 5px;
  border-radius: 10px;
}

.screen .lower-row,
.screen .upper-row {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin: 5px 15px;
  border: 1px solid #0000004b;
}

.screen .upper-row {
  flex: 1;
}
.screen .lower-row {
  flex: 2;
}

.button-frame {
  background-color: #00ac5c;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  margin: 30px;
  padding: 0.25rem;
  border-radius: 10px;
}

.button-frame .row {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #e4d500;
}

.button-frame .row .button {
  height: 70px;
  width: 70px;
  border: 3px solid #00000069;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 75px;
}

.button-frame .row:last-child {
  justify-content: space-between;
  gap: 1rem;
  /*
    Mert:
    'dot' button doesn't alight in its column perfectly due to flex calculation.
    In the future, change the content with a grid instead when you learn it.
  */
}

.button-frame .row:last-child .button:last-child {
  flex: 2;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: #ff8a7b;
}